.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  font-family: sans-serif;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

nav ul li{
  display: inline-block;
  margin-right: 30px;
}


.header {
  background: radial-gradient(rgb(254, 218, 101), #f1cf70de);
}

.header .row {
  margin-top: 70px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
}

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 50px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    text-align: center;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: white;
  }

  .menu-icon {
    display: block;
    margin-left: 20px;
  }
}
